<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Themes  register-flat-->
<ion-content class="background-image">
  <ion-grid no-padding class="bg-color">
    <ion-row header align-items-start align-items-stretch>
      <!-- Section form>-->
      <ion-col col-10 offset-1 col-md-6 offset-md-3>
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/Nesstynew.png" class="img-size" />
                  </ion-list>
                  <h1 class="align-center"><strong>Hi! Get ready to make college the best years of your life</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    <!-- Input-field-text -->
                    <ion-item no-padding>
                      <ion-input class="text-input" name="username" type="text" placeholder="Username (Use real or anonymous)" [(ngModel)]="users.username" (ngModelChange)="checkUser()" [ngModelOptions]="{standalone: true}" required></ion-input>
                    </ion-item>
                  </div>
                  <ion-label color="danger" no-margin>{{errorMessageUser}}</ion-label>
                  <br>
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()" [disabled]="!users.username || disable">Next</button>
                  </ion-col>
                </ion-col>
                <!-- Login button -->
                <ion-col col-12 padding>
                  <p no-margin class="login" no-padding>Already have an account? <a class="anchor-color" (click)="backlogin()">Login</a> </p>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/Nesstynew.png" class="img-size" />
                  </ion-list>
                  <h1 class="align-center"><strong>Hi! Get ready to make college the best years of your life</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    <!-- Input-field-password -->
                    <ion-item no-padding>
                      <ion-input class="text-input" type="password" placeholder="Password" name="password" [(ngModel)]="users.password" [ngModelOptions]="{standalone: true}" required></ion-input>
                      <!-- <ion-label no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
                    </ion-item>
                  </div>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()" [disabled]="!users.password">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding [formGroup]="emailForm">
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/Nesstynew.png" class="img-size" />
                  </ion-list>
                  <h1 class="align-center"><strong>Hi! Get ready to make college the best years of your life</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    <!-- Input-field-email -->
                    <ion-item no-padding>
                      <ion-input class="text-input" type="email" name="email" placeholder="Email" [formControl]="emailForm.controls['email']" [(ngModel)]="users.email" (ngModelChange)="checkEmail()" required></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error-size" *ngIf="!emailForm.controls.email.valid && emailForm.controls.email.dirty" no-margin>Please enter a valid email.</ion-label>
                  </div>
                  <ion-label color="danger" no-margin>{{errorMessageUser}}</ion-label>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="emailNext()" [disabled]="!users.email || disable">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/Nesstynew.png" class="img-size" />
                  </ion-list>
                  <h1 class="align-center"><strong>Hi! Get ready to make college the best years of your life</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    <ion-item>
                      <ion-label class="select-label">Select Status</ion-label>
                      <ion-select class="select-input" name="year" [(ngModel)]="users.status">
                        <ion-option *ngFor="let year of years" [value]="year.name" [selected]="selectedStatus == year.name">{{year.name}}</ion-option>
                      </ion-select>
                    </ion-item>
                  </div>
                  <ion-label color="danger" class="error-size" *ngIf="errorMessage" no-margin>{{errorMessage}}</ion-label>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="submit(users)" [disabled]="!users.status">Submit</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
   <ion-fab bottom right *ngIf="!startSlide">
    <button ion-fab color="primary" (click)="prev()" mini> <ion-icon name="arrow-back">  </ion-icon> </button>
  </ion-fab>
</ion-content>