page-password {
    .icon-color{
        color: red;
    }

    .title{
        font-family: Helvetica;
        font-weight: bold;
        text-align: center;
    }

    .align-bottom{
        margin-bottom: 15px; 
    }
}
